.profile-image-container {
  --image-dimension: 48px;
  width: var(--image-dimension);
  height: var(--image-dimension);
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  margin: 2px 0;
}

.profile-image-container img {
  width: calc(var(--image-dimension) * 1.33);
  height: var(--image-dimension);
  transform: translateX(-10%);
}

