.profile-image-container {
  --image-dimension: 48px;
  width: var(--image-dimension);
  height: var(--image-dimension);
  border-radius: 50%;
  border: 1px solid grey;
  position: relative;
  overflow: hidden;
}

.profile-image-container img {
  width: calc(var(--image-dimension) * 1.33);
  height: var(--image-dimension);
  transform: translateX(-10%);
}

