.chat-container {
  --chat-list-width: 30vw;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.chat-list-container {
  background-color: white;
  width: var(--chat-list-width);
  height: 100%;
  flex-shrink: 0;
}

.chat-empty-container {
  height: 100%;
  width: 100%;
  background-color: #f7f9fa;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chat-empty-container > h1 {
  font-weight: 300;
  font-size: 5vh;
  text-align: center;
}

.chat-empty-container:after {
  background-color: #50ea6a;
  content: "";
  width: calc(100% - var(--chat-list-width));
  height: 5px;
  bottom: 0;
  position: absolute;
}
